APScheduler==3.0.1
Flask==0.10.1
Flask-Cors==1.10.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
futures==2.2.0
github3.py==0.9.3
ipython==2.3.0
itsdangerous==0.24
linkenv==0.1.0
pytz==2014.10
requests==2.4.3
six==1.8.0
tzlocal==1.1.2
uritemplate.py==0.3.0
wsgiref==0.1.2
