
<div ng-show="isLoading && !errorMsg" class="loading">Loading...</div>

<div ng-show="errorMsg" class="error">{{ errorMsg }}</div>

<div class="container container-large" ng-class="{ 'issue-show': issueDetail }">

  <div class="gridStyle" ng-grid="gridOptions"></div>

  <div ng-show="issueDetail" class="issue-detail" ng-click="issueDetail = null">
    <div class="modal" stop-event>
      <h3>
        <a ng-href="{{repo_data.repo_url}}/issues/{{ issueDetail.number }}" target="_blank">

          <strong ng-switch="issueDetail.pull_request">
            <span ng-switch-when="true">Pull Request</span>
            <span ng-switch-default>Issue</span>
          </strong>

          <strong>{{ issueDetail.number }}:</strong>

          {{ issueDetail.title}}</a>
      </h3>

      <h4>Action</h4>
      <label>
        <input type="radio" ng-model="issueDetail.actionType" value="close" ng-disabled="issueDetail.isDisabled">
        Close
        <span ng-switch="issueDetail.pull_request">
          <span ng-switch-when="true">Pull Request</span>
          <span ng-switch-default>issue</span>
        </span>
      </label>
      <label>
        <input type="radio" ng-model="issueDetail.actionType" value="reply" ng-disabled="issueDetail.isDisabled">
        Reply to
        <span ng-switch="issueDetail.pull_request">
          <span ng-switch-when="true">pull request</span>
          <span ng-switch-default>issue</span>
        </span>
      </label>

      <div ng-show="issueDetail.actionType">

        <h4>Response Message: <a class="templates-link" href="https://github.com/driftyco/ionitron-lingo/tree/master/templates" target="_blank">View Templates</a></h4>

        <div ng-show="issueDetail.pull_request != true">

          <label>
            <input type="radio" ng-model="issueDetail.messageType" value="expire" ng-disabled="issueDetail.isDisabled"> This issue has expired
          </label>

          <label>
            <input type="radio" ng-model="issueDetail.messageType" value="forum" ng-disabled="issueDetail.isDisabled"> Please use the forum instead
          </label>

          <label>
            <input type="radio" ng-model="issueDetail.messageType" value="more" ng-disabled="issueDetail.isDisabled"> We need more info to help you out
          </label>

          <label ng-show="issueDetail.actionType == 'close'">
            <input type="radio" ng-model="issueDetail.messageType" value="inapplicable" ng-disabled="issueDetail.isDisabled"> This issue is no longer applicable w/ current versions
          </label>

          <label ng-show="issueDetail.actionType == 'close'">
            <input type="radio" ng-model="issueDetail.messageType" value="feature" ng-disabled="issueDetail.isDisabled"> Feature request is under consideration, and add 'feature' label
          </label>

          <label ng-show="issueDetail.actionType == 'close'">
            <input type="radio" ng-model="issueDetail.messageType" value="no_reply" ng-disabled="issueDetail.isDisabled"> We never got a response to our question
          </label>

        </div>

        <label ng-show="issueDetail.actionType == 'close'">
          <input type="radio" ng-model="issueDetail.messageType" value="pr_close" ng-disabled="issueDetail.isDisabled"> Sorry, we're not going to merge this Pull Request
        </label>

        <label ng-show="issueDetail.actionType == 'close'">
          <input type="radio" ng-model="issueDetail.messageType" value="close" ng-disabled="issueDetail.isDisabled"> Just close it, no need for a comment
        </label>

        <label>
          <input type="radio" ng-model="issueDetail.messageType" value="custom" ng-disabled="issueDetail.isDisabled"> [ Custom comment ]
        </label>
        <p ng-show="issueDetail.messageType == 'custom'">
          <textarea ng-model="issueDetail.customMessage"></textarea>
        </p>

      </div>
      <p class="modal-error" ng-show="issueDetail.error">{{ issueDetail.error }}</p>
      <div class="modal-buttons">
        <button ng-click="submit()" ng-disabled="!issueDetail.actionType || !issueDetail.messageType">
          <span ng-show="issueDetail.actionType == 'close'">Close <span ng-show="issueDetail.messageType != 'close'">and comment</span></span>
          <span ng-show="issueDetail.actionType == 'reply'">Comment and add 'needs reply' label</span>
        </button>
      </div>

    </div>
  </div>

</div>
