<!DOCTYPE html>
<html>
<head>
  <title>Ionitron | Ionic Framework Github Bot</title>
  <link href="/static/ng-grid.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/jquery.min.js"></script>
  <script src='/static/angular.min.js'></script>
  <script src='/static/angular-ui-router.min.js'></script>
  <script src="/static/ng-grid.debug.js"></script>
  <script src="/static/app.js"></script>
  <link href="/static/favicon.ico" rel="shortcut icon">
</head>
<body ng-app='app'>

  <div ui-view></div>

</body>
</html>
